.container {
  flex-direction: column;
  .header {
    font-size: 52px;
    font-weight: 900;
  }
  .description {
    padding: 0 108px;
    line-height: 1.5;
  }
  .use-guide {
    flex-direction: column;
    width: fit-content;
  }
  .goto {
    padding: 16px;
  }
}
