@import '../color.module.scss';

@mixin badge-light {
  --upcast-color-badge-text: #{$light-primary100};
  --upcast-color-badge-bg: #{$light-primary700};
}

@mixin badge-dark {
  --upcast-color-badge-text: #{$dark-text};
  --upcast-color-badge-bg: #{$dark-primary100};
}
