@import '../color.module.scss';

@mixin button-light {
  --upcast-color-button-bg: #{$light-primary000};
  --upcast-color-button-bg-hover: #{$light-primary100};
  --upcast-color-button-bg-disabled: #{$light-gray000};
  --upcast-color-button-bg-active: #{$light-primary300};

  --upcast-color-button-bg-ripple: #{$light-primary200};

  --upcast-color-button-text: #{$light-text};
  --upcast-color-button-text-hover: #{$light-text};
  --upcast-color-button-text-disabled: #{$light-gray200};
  --upcast-color-button-text-active: #{$black};

  --upcast-color-button-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --upcast-color-button-outline: #{$light-primary300};
  --upcast-color-button-outline-disabled: #{$light-gray300};
}

@mixin button-dark {
  --upcast-color-button-bg: #{$dark-primary100};
  --upcast-color-button-bg-hover: #{$dark-primary200};
  --upcast-color-button-bg-disabled: #{$dark-primary100};
  --upcast-color-button-bg-active: rgba(53, 53, 53, 0.6);

  --upcast-color-button-bg-ripple: rgba(50, 50, 70, 0.6);

  --upcast-color-button-text: #{$dark-text};
  --upcast-color-button-text-hover: #{$dark-text};
  --upcast-color-button-text-disabled: #{$dark-gray000};
  --upcast-color-button-text-active: #{$dark-primary700};

  --upcast-color-button-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  --upcast-color-button-outline: #{$dark-primary100};
  --upcast-color-button-outline-disabled: #{$dark-gray000};
}
