@import '../color.module.scss';

@mixin data-table-light {
  --upcast-color-data-table-bg: #{$light-background};

  --upcast-color-data-table-border: #{$light-primary600};

  --upcast-color-data-table-caption-text: #{$light-text};

  --upcast-color-data-table-header-bg: #{$light-primary200};
  --upcast-color-data-table-header-text: #{$light-text};

  --upcast-color-data-table-footer-bg: #{$light-primary000};
  --upcast-color-data-table-footer-text: #{$light-text};

  --upcast-color-data-table-divide-line: #{$light-primary500};

  --upcast-color-data-table-row-bg: #{$light-background};
  --upcast-color-data-table-row-bg-hover: #{$light-primary000};
  --upcast-color-data-table-row-bg-disabled: #{$light-gray000};

  --upcast-color-data-table-row-text: #{$light-text};
  --upcast-color-data-table-row-text-hover: #{$light-text};
  --upcast-color-data-table-row-text-disabled: #{$light-gray200};

  --upcast-color-data-table-pagination-index-bg: #{$light-background};
  --upcast-color-data-table-pagination-index-bg-selected: #{$light-blue500};
  --upcast-color-data-table-pagination-index-bg-disabled: #{$light-background};
  --upcast-color-data-table-pagination-index-bg-hover: #{$light-blue100};

  --upcast-color-data-table-pagination-index-text: #{$light-text};
  --upcast-color-data-table-pagination-index-text-selected: #{$light-primary000};
  --upcast-color-data-table-pagination-index-text-disabled: #{$light-gray100};
  --upcast-color-data-table-pagination-index-text-hover: #{$light-text};

  --upcast-color-data-table-pagination-arrow: #{$light-gray200};
  --upcast-color-data-table-pagination-arrow-disabled: #{$light-gray000};
}

@mixin data-table-dark {
  --upcast-color-data-table-bg: #{$dark-background};

  --upcast-color-data-table-caption-text: #{$dark-text};

  --upcast-color-data-table-border: #{$dark-primary400};

  --upcast-color-data-table-header-bg: #{$dark-primary200};
  --upcast-color-data-table-header-text: #{$dark-text};

  --upcast-color-data-table-footer-bg: #{$dark-primary100};
  --upcast-color-data-table-footer-text: #{$dark-text};

  --upcast-color-data-table-divide-line: #{$dark-primary300};

  --upcast-color-data-table-row-bg: #{$dark-background};
  --upcast-color-data-table-row-bg-hover: #{$dark-primary100};
  --upcast-color-data-table-row-bg-disabled: #{$dark-gray000};

  --upcast-color-data-table-row-text: #{$dark-text};
  --upcast-color-data-table-row-text-hover: #{$dark-text};
  --upcast-color-data-table-row-text-disabled: #{$dark-gray200};

  --upcast-color-data-table-pagination-index-bg: #{$dark-background};
  --upcast-color-data-table-pagination-index-bg-selected: #{$dark-blue000};
  --upcast-color-data-table-pagination-index-bg-disabled: #{$dark-background};
  --upcast-color-data-table-pagination-index-bg-hover: #{$dark-blue400};

  --upcast-color-data-table-pagination-index-text: #{$dark-text};
  --upcast-color-data-table-pagination-index-text-selected: #{$dark-text};
  --upcast-color-data-table-pagination-index-text-disabled: #{$dark-gray000};
  --upcast-color-data-table-pagination-index-text-hover: #{$dark-primary000};

  --upcast-color-data-table-pagination-arrow: #{$dark-gray400};
  --upcast-color-data-table-pagination-arrow: #{$dark-gray400};
  --upcast-color-data-table-pagination-arrow-disabled: #{$dark-gray000};
}
