@import '../color.module.scss';

@mixin header-light {
  --upcast-color-header-bg: linear-gradient(
    165deg,
    #{$light-primary000},
    #{$light-primary300}
  );

  --upcast-color-header-text: #{$light-text};
}

@mixin header-dark {
  --upcast-color-header-bg: linear-gradient(
    165deg,
    #{$dark-primary100},
    #{$dark-primary000}
  );

  --upcast-color-header-text: #{$dark-text};
}
