@import '../color.module.scss';

@mixin popup-light {
  --upcast-color-popup-bg: #{$light-primary000};
  --upcast-color-popup-text: #{$light-text};
  --upcast-color-popup-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

@mixin popup-dark {
  --upcast-color-popup-bg: #{$dark-primary100};
  --upcast-color-popup-text: #{$dark-text};
  --upcast-color-popup-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}
