@import '../color.module.scss';

@mixin select-light {
  // box background
  --upcast-color-select-box-bg: #{$light-background};
  --upcast-color-select-box-bg-focus: #{$light-background};
  --upcast-color-select-box-bg-error: #{$light-background};
  --upcast-color-select-box-bg-disabled: #{$light-gray000};
  --upcast-color-select-box-bg-hover: $light-background;
  // box text
  --upcast-color-select-box-text: #{$light-text};
  --upcast-color-select-box-text-focus: #{$light-text};
  --upcast-color-select-box-text-error: #{$light-text};
  --upcast-color-select-box-text-disabled: #{$light-gray200};
  --upcast-color-select-box-text-hover: #{$light-text};
  // box border
  --upcast-color-select-box-border: #{$light-primary600};
  --upcast-color-select-box-border-focus: #{$light-blue500};
  --upcast-color-select-box-border-error: #{$light-danger};
  --upcast-color-select-box-border-disabled: #{$light-gray100};
  --upcast-color-select-box-border-hover: #{$light-blue300};
  // box placeholder
  --upcast-color-select-box-placeholder: #{$light-gray100};
  --upcast-color-select-box-placeholder-disabled: #{$light-gray100};

  // dropbox background
  --upcast-color-select-dropbox-bg: #{$light-background};
  --upcast-color-select-dropbox-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  // option background
  --upcast-color-select-option-bg: #{$light-background};
  --upcast-color-select-option-bg-selected: #{$light-primary100};
  --upcast-color-select-option-bg-reserved: #{$light-primary200};
  --upcast-color-select-option-bg-disabled: #{$light-gray000};
  --upcast-color-select-option-bg-hover: #{$light-primary200};
  // option text
  --upcast-color-select-option-text: #{$light-text};
  --upcast-color-select-option-text-selected: #{$light-text};
  --upcast-color-select-option-text-reserved: #{$light-text};
  --upcast-color-select-option-text-disabled: #{$light-gray200};
  --upcast-color-select-option-text-hover: #{$light-text};
}

@mixin select-dark {
  // box background
  --upcast-color-select-box-bg: #{$dark-primary100};
  --upcast-color-select-box-bg-focus: #{$dark-primary100};
  --upcast-color-select-box-bg-error: #{$dark-primary100};
  --upcast-color-select-box-bg-disabled: #{$dark-primary200};
  --upcast-color-select-box-bg-hover: #{$dark-primary100};
  // box text
  --upcast-color-select-box-text: #{$dark-text};
  --upcast-color-select-box-text-focus: #{$dark-text};
  --upcast-color-select-box-text-error: #{$dark-text};
  --upcast-color-select-box-text-disabled: #{$dark-primary100};
  --upcast-color-select-box-text-hover: #{$dark-text};
  // box border
  --upcast-color-select-box-border: #{$dark-primary300};
  --upcast-color-select-box-border-focus: #{$dark-blue300};
  --upcast-color-select-box-border-error: #{$dark-danger};
  --upcast-color-select-box-border-disabled: #{$dark-primary100};
  --upcast-color-select-box-border-hover: #{$dark-primary300};
  // box placeholder
  --upcast-color-select-box-placeholder: #{$dark-primary300};
  --upcast-color-select-box-placeholder-disabled: #{$dark-primary100};

  // dropbox background
  --upcast-color-select-dropbox-bg: #{$dark-primary100};
  --upcast-color-select-dropbox-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);

  // option background
  --upcast-color-select-option-bg: #{$dark-primary100};
  --upcast-color-select-option-bg-selected: #{$dark-primary200};
  --upcast-color-select-option-bg-reserved: #{$dark-primary300};
  --upcast-color-select-option-bg-disabled: #{$dark-gray000};
  --upcast-color-select-option-bg-hover: #{$dark-primary300};
  // option text
  --upcast-color-select-option-text: #{$dark-text};
  --upcast-color-select-option-text-selected: #{$dark-text};
  --upcast-color-select-option-text-reserved: #{$dark-text};
  --upcast-color-select-option-text-disabled: #{$light-gray200};
  --upcast-color-select-option-text-hover: #{$dark-text};
}
