@import '../color.module.scss';

@mixin spinner-light {
  --upcast-color-spinner-color1: #{$light-gray200};
  --upcast-color-spinner-color2: #{$light-gray400};
}

@mixin spinner-dark {
  --upcast-color-spinner-color1: #{$dark-gray100};
  --upcast-color-spinner-color2: #{$dark-gray400};
}
