@import '../color.module.scss';

@mixin switch-light {
  --ss-c-switch-bg: #{$light-primary300};
  --ss-c-switch-bg-checked: #{$light-blue300};
  --ss-c-switch-bg-disabled: #{$light-gray000};
  --ss-c-switch-bg-checked-disabled: #{$light-gray200};
  --ss-c-switch-bg-hover: #{$light-blue200};
  --ss-c-switch-bg-checked-hover: #{$light-blue500};

  --ss-c-switch-bullet: #{$light-primary000};
  --ss-c-switch-bullet-disabled: #{$light-gray200};
  --ss-c-switch-bullet-checked: #{$light-primary000};
  --ss-c-switch-bullet-checked-disabled: #{$light-gray400};
  --ss-c-switch-bullet-hover: #{$light-primary000};
  --ss-c-switch-bullet-checked-hover: #{$light-primary000};
  --ss-c-switch-bullet-box-shadow: 0px 3px 6px rgba(63, 63, 63, 0.3);

  --ss-c-switch-text: #{$light-text};
  --ss-c-switch-text-hover: #{$light-text};
  --ss-c-switch-text-disabled: #{$light-gray200};
}

@mixin switch-dark {
  --ss-c-switch-bg: #{$dark-primary400};
  --ss-c-switch-bg-checked: #{$dark-blue200};
  --ss-c-switch-bg-disabled: #{$dark-primary200};
  --ss-c-switch-bg-checked-disabled: #{$dark-primary100};
  --ss-c-switch-bg-hover: #{$dark-blue300};
  --ss-c-switch-bg-checked-hover: #{$dark-blue100};

  --ss-c-switch-bullet: #{$dark-primary700};
  --ss-c-switch-bullet-checked: #{$dark-primary700};
  --ss-c-switch-bullet-disabled: #{$dark-primary100};
  --ss-c-switch-bullet-checked-disabled: #{$dark-primary000};
  --ss-c-switch-bullet-hover: #{$dark-primary700};
  --ss-c-switch-bullet-checked-hover: #{$dark-primary700};
  --ss-c-switch-bullet-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  --ss-c-switch-text: #{$dark-text};
  --ss-c-switch-text-hover: #{$dark-text};
  --ss-c-switch-text-disabled: #{$dark-gray000};
}
