@import '../color.module.scss';

@mixin textarea-light {
  --upcast-color-textarea-border: #{$light-primary600};
  --upcast-color-textarea-border-focus: #{$light-blue500};
  --upcast-color-textarea-border-error: #{$light-danger};
  --upcast-color-textarea-border-disabled: #{$light-gray100};

  --upcast-color-textarea-bg: #{$light-primary000};
  --upcast-color-textarea-bg-disabled: #{$light-gray000};

  --upcast-color-textarea-text: #{$light-text};
  --upcast-color-textarea-text-disabled: #{$light-gray200};

  --upcast-color-textarea-placeholder: #{$light-gray100};
  --upcast-color-textarea-placeholder-disabled: #{$light-gray100};

  --upcast-color-textarea-box-shadow: 0px 3px 6px rgba(62, 62, 62, 0.1);
}

@mixin textarea-dark {
  --upcast-color-textarea-border: #{$dark-primary300};
  --upcast-color-textarea-border-focus: #{$dark-blue300};
  --upcast-color-textarea-border-error: #{$dark-danger};
  --upcast-color-textarea-border-disabled: #{$dark-primary100};

  --upcast-color-textarea-bg: #{$dark-primary100};
  --upcast-color-textarea-bg-disabled: #{$dark-primary200};

  --upcast-color-textarea-text: #{$dark-text};
  --upcast-color-textarea-text-disabled: #{$dark-primary100};

  --upcast-color-textarea-placeholder: #{$dark-primary300};
  --upcast-color-textarea-placeholder-disabled: #{$dark-primary100};

  --upcast-color-textarea-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}
