@import 'src/styles/color/color.module.scss';

.container {
  display: flex;
  flex-direction: column;
}

.option-text {
  letter-spacing: 0.05em;
}

.apis-table {
  width: 100%;
  flex-direction: column;
  row-gap: 32px;
  .head {
    flex-direction: column;
    row-gap: 4px;
    .emphasis {
      font-size: 16px;
      font-weight: bolder;
    }
  }
}
.css-var {
  flex-direction: column;
  row-gap: 24px;
  .css-var-table {
    .css-type {
      .color {
        --ss-c-badge-color: #{$black};
        --ss-c-badge-bg: skyblue;
      }
      .size {
        --ss-c-badge-color: #{$white};
        --ss-c-badge-bg: magenta;
      }
      .layout {
        --ss-c-badge-color: #{$black};
        --ss-c-badge-bg: coral;
      }
    }

    .color-view {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      -webkit-box-align: center;
      column-gap: 8px;
    }
  }
}
