@import 'src/styles/color/components/theme.module.scss';

$side-nav-width: 196px;

@mixin color-template {
  background: $light-background;
  color: $light-text;
  &.dark {
    background: $dark-background;
    color: $dark-text;
  }
}

.body {
  @include theme;
}

.page-template {
  height: 100%;
  min-height: 100%;
  width: 100%;
  @include color-template;
  .theme {
    z-index: 999;
    --upcast-layout-float-bottom: 16px;
    --upcast-layout-float-right: 16px;
    .theme-btn {
      padding: 8px;
    }
  }
  .gnb {
    --upcast-size-side-nav-width: #{$side-nav-width};
    position: fixed;
    z-index: 999;
    transition: transform 0.5s ease;
    .category {
      font-weight: 700;
    }
    .linker {
      --upcast-color-side-nav-menu-text: rgb(134, 151, 132);
    }
  }
  .space {
    --upcast-layout-spacing-gap: #{calc($side-nav-width + 16px)};
    @include color-template;
  }
  .contents {
    height: 100%;
    width: 100%;
    .header {
      --upcast-size-header-min-height: 72px;
      --upcast-size-header-max-height: 72px;
      z-index: 998;
      .right-contents {
        position: relative;
        display: flex;
        column-gap: 8px;
        align-items: center;
        margin-left: auto;
        transform: translateX(-32px);
        --upcast-color-switch-bg: #{$light-primary000};
        --upcast-color-switch-bg-checked: #{$dark-primary200};
        --upcast-color-switch-bg-hover: #{$light-blue200};
        --upcast-color-switch-bg-checked-hover: #{$dark-gray300};
        .github > svg {
          fill: $light-text;
        }
        .github:hover > svg {
          fill: #6a6a6a;
        }
        .github.dark > svg {
          fill: $dark-text;
        }
        .github.dark:hover > svg {
          fill: $dark-primary200;
        }
      }
    }
    .page {
      padding: 32px;
      @include color-template;
    }
  }
}
