@import 'src/styles/color/components/theme.module.scss';

$side-nav-width: 164px;

.page-template {
  height: 100%;
  width: 100%;
  @include theme;
  .theme {
    z-index: 999;
    --upcast-layout-float-bottom: 16px;
    --upcast-layout-float-right: 16px;
    .theme-btn {
      padding: 8px;
    }
  }
  .gnb {
    --upcast-size-side-nav-width: #{$side-nav-width};
    position: fixed;
    z-index: 999;
    transition: transform 0.5s ease;
    .category {
      font-weight: 700;
    }
    .linker {
      --upcast-color-side-nav-menu-text: rgb(134, 151, 132);
    }
  }
  .space {
    --upcast-layout-spacing-gap: 180px;
  }
  .contents {
    height: 100%;
    width: 100%;
    .header {
      position: fixed;
      top: 0;
      --upcast-size-header-min-height: 72px;
      --upcast-size-header-max-height: 72px;
      z-index: 998;
    }
    .page {
      background: $light-background;
      color: $light-text;
      padding: 32px;
      &.dark {
        background: $dark-background;
        color: $dark-text;
      }
    }
  }
}
