.contents {
  flex-direction: column;
  row-gap: 24px;
  .view {
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
    border: 1px solid rgba(149, 149, 149, 0.4);
    border-radius: 8px;
    padding: 32px 24px;
  }
}
