@import 'src/styles/color/color.module.scss';

.css-var {
  flex-direction: column;
  row-gap: 24px;
  .css-var-table {
    .css-type {
      .color {
        --upcast-color-badge-text: #{$black};
        --upcast-color-badge-bg: skyblue;
      }
      .size {
        --upcast-color-badge-text: #{$white};
        --upcast-color-badge-bg: magenta;
      }
      .layout {
        --upcast-color-badge-text: #{$black};
        --upcast-color-badge-bg: coral;
      }
    }

    .color-view {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      -webkit-box-align: center;
      column-gap: 8px;
    }
  }
}
